@charset "utf-8";
/* CSS Document */
*
{
	margin:0px;
	padding:0px;
}
body{
	background:#FFF;


	
}
.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 
/* Social icons*/
.icons{
	position: absolute;
	top: 8px;
	right: 10px;
	width: 126px;
	text-decoration: none;
}
.icons a i{
	margin-left:20px;
	text-decoration:none;
	padding:5px;
	font-size:22px;
	font-family:'Oswald', sans-serif;
	border-radius:50px;
}
.facebook{
	
	color:white;
}
.facebook img{
	width:30px;
	height:30px;
}
/*.facebook:hover{
	font-family:Tahoma, Geneva, sans-serif;
	transform:translate(0px,0px);
}*/
.google{
	color:white;
}
.google img{
	width:30px;
	height:30px;
}
.instagram{
	color:white;
}
.instagram img{
	width:30px;
	height:30px;
}
nav{
	height:42px;
	background-color:#900;
	
	
}

nav ul{
	list-style:none;
}
nav ul li a{
	float:left;
	text-decoration:none;
	text-align:center;
	color:#FFC;
	padding:0px 40px;
	text-align:center;
	line-height:45px;
	height:42px;
	display:block;
	
	
}

/*nav ul li a:hover{
	background-color:#FFC;
	color:#900;
	border-radius:8px;

	
}
nav ul li a.active{
	background-color:#FFC;
	border-radius:8px;
	color:#900;
}
nav ul ul{

	display:none;
}
nav ul li:hover ul{
	display:block;
	position:absolute;
	margin-top:33px;
	margin-left:100px;
	background:#900;
	width:215px;
}*/
.bottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color:#FFF;
	font-weight: bold;
	background-color:#0C0;
	height:30px;


}
.bottom A {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
.bottom A:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
.item{
	text-emphasis:center;
	font:"Times New Roman", Times, serif;
	font-size:24px;
	margin:30px 30px 30px 30px;
	
}
h1 {
  margin: 0 0 5px;
  color:#0C0;
  font-size:14px;
  
 }
h2{
	color:#C00;
}
/* Contact Us */
h3.section-title{
	color:#009;
	font-size:28px;
}
.bottom_footer{
	background-color:#0C3;
	width:auto;
	height:auto;
	position:inherit;
	bottom: 0;
	
}
/*Header Footer*/

#body{
	padding:10px;
}
#footer{
	position: absolute;
	bottom: -277px;
	width: 100%;
	height: 30px;
	background:#CCC;
}
